<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <meta charset="UTF-8">
    <title>Vim Analytics</title>
  </head>
  <body>
    <div class="container">
    <%= yield %>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <div>
  </body>
</html>
